
body, html {
  height:100%;
}

/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}
  .box{
    width:100px;
    height:30px;
    margin: 20px 20px;
    
  }

  /* .seat{
    margin: 5px 5px;
  } */

  .red{
    background:#f00;
    color:white;
    text-align: center;
  }
  .blue{
    background:cadetblue;
  }
  .white{
    background:green;
    color:white;
    text-align: center;
    
  }
  /* seat list css */

  .seat-list{
    /* border:1px solid black; */
    list-style: none;
    margin:6px;
  }
  .seat-item{
    display:block;
    float: left;
    height: 50px;
    margin:4px;
    padding:5px;
  }
  *{
    font-family: 'Merriweather', serif;
    
  }
  .bg_header {
    /* Full height */
    height: 70%; 
    background-image:url('/storage/images/4.jpeg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    /* ************* */
    *{
      font-family: 'Merriweather', serif;
      
  }
  .main{
      min-height: 1000px;
  }
  a.nav-link:hover {
      color: white;
  }
  .icon-danger {
      color: red;
  }
  .my-sidebar:before{
      content: "";
      position: fixed;
      z-index: -1;
      width: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: inherit;
      border-right: 1px solid #e3e3e3;
  }
  /* table css */
  table {
      border-collapse: collapse;
  }
  
  /* table, th, td {
  border: 1px solid black; */
  
  /* ******* */
  .booking-border{
      border:1px solid black;
      max-width:150px;
      
  }
  /* icon card */
  .wrimagecard{	
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
  }
  .wrimagecard .fa{
      position: relative;
      font-size: 70px;
  }
  .wrimagecard-topimage_header{
  padding: 20px;
  }
  a.wrimagecard:hover, .wrimagecard-topimage:hover {
      box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  }
  .wrimagecard-topimage a {
      width: 100%;
      height: 100%;
      display: block;
  }
  .wrimagecard-topimage_title {
      padding: 20px 24px;
      height: 80px;
      padding-bottom: 0.75rem;
      position: relative;
  }
  .wrimagecard-topimage a {
      border-bottom: none;
      text-decoration: none;
      color: #525c65;
      transition: color 0.3s ease;
  }
  #bg_home{
      /* The image used */ 
      background-image:url('/storage/images/1.jpg');

      /* Full height */
      height: 100%; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     }
   
    /* report css*************************************************** */

    .body{
    
      background-color:black;
      
     
  }
  .pdf{
      width: 817px;
      margin: 0px auto;
      background:white;
  }
  .frame{
      width: 655px;
      height: auto;
      padding: 0.5in 0;
      margin: 0 auto;    
  }
  .address{
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 70%;
  }
  hr{
      display: block;
      margin-top: 10px;
      margin-left: 2px;
      margin-right: 5px;
      border-color:black;
      border-width: 2px;
  }
  .extitle h4,span{
      line-height: 40%;
      
  }
  .name h1,.skill h3,.experience h3,.education h3,.awards h3{
      font-family: 'Oswald', sans-serif;
      letter-spacing: 3px;
  }
  .skill p,.experience p,span,ul,.color,.education .color, p ,span,.awards p,.i{
      font-family: 'Source Code Pro', monospace;
      /* color:RGB(66,66,66);  */
  }
   .experience .color,.education .color{
      color:RGB(233,29,99);
  }
  .i {
      color:RGB(46,68,64);
  }
